
{% extends 'base.html' %}
<body>
{% block content %}
<div role="main" id="content" class="content-wrap" style="min-height: 1px;">
    <div class="container">
        <div id="primary" class="content-area col-md-8">
            <main  id="main" class="site-main" role="main">
                <article id="post-7" class="content-single-page post-7 post type-post status-publish format-standard hentry category-uncategorized">
                    <div itemprop="text" class="entry-content">
                       <div class="jz" >
    {% for i in skum %}
        <div class="row" >
          <div class="col-md-8" >
            <div class="row" >
              <div class="col-md-8"  >
                <h4><strong><a href="#">{{ i.title }}</a></strong></h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <a href="#" class="thumbnail">
                    <img src="/static/images/03.jpg" alt="">
                </a>
              </div>
              <div class="col-md-6">
                <p style="margin: 0 auto" >
                 {{ i.zhaiyao }}
                </p>
                <p><a  class="btn btn-primary btn-large" href={{ '/blog/python/content/' }}{{ i.id }}>阅读全文</a></p>
              </div>
            </div>
            <div class="row" >
              <div class="col-md-8">
                <p></p>
                <p style="margin: auto;text-align: center">
                  <i class="icon-user"></i><a>阅读(4)</a>
                    <i class="icon-calendar"></i>{{ i.shjian }}
                  | <i class="icon-comment"></i> <a href="#">评论</a>
        {#          | <i class="icon-share"></i> <a href="#">转发 39 次</a>#}
                  | <i class="icon-tags" ></i> 技术标签 : <a href="#"><span class="label label-info">python</span></a>
                  <a href="#"><span class="label label-info">类</span></a>
                  <a href="#"><span class="label label-info">设计模式</span></a>
                  <a href="#"><span class="label label-info">高级</span></a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <hr>
    {% endfor %}

</div>

                    </div><!-- .entry-content -->

                    <footer class="entry-footer">
                    </footer><!-- .entry-footer -->
                </article><!-- #post-## -->

{#                <div id="comments" class="comments-area"></div>#}
            </main><!-- #main -->
        </div><!-- #primary -->
        <br/>
        <div id="sidebar-secondary" class="col-md-4 widget-area">
            <aside id="search-2" class="widget widget_search">
                <form role="search" method="get" class="search-form" action="http://wordpress.ishilf.com/">
                    <label>
                        <span class="screen-reader-text">搜索：</span>
                        <input type="search" class="search-field" placeholder="搜索…" value="" name="s" >
                    </label>
                    <input type="submit" class="search-submit" value="搜索">
                </form>
            </aside>
            <aside id="recent-posts-2" class="widget widget_recent_entries"><h2 class="widget-title">最新文章</h2>
                <div class="colored-line-left"></div>
                <div class="clearfix widget-title-margin"></div>
                <ul>
                    <li>
                        <a href="">简单好用的Linux/Windows 面板(一键创建网站、FTP、数据库)</a>
                    </li>
                    <li>
                        <a href="">phpStudy的Apache配置虚拟主机</a>
                    </li>
                </ul>
            </aside>
            <aside id="recent-comments-2" class="widget widget_recent_comments"><h2 class="widget-title">最新评论</h2>
                <div class="colored-line-left"></div>
                <div class="clearfix widget-title-margin"></div>
                <ul id="recentcomments">
                    <li class="recentcomments">
                        <span class="comment-author-link">超人</span>
                        发表在《<a href="">phpStudy的Apache配置虚拟主机</a>》
                    </li>
                </ul>
            </aside>
            <aside id="categories-2" class="widget widget_categories"><h2 class="widget-title">栏目</h2>
                <div class="colored-line-left"></div>
                <div class="clearfix widget-title-margin"></div>
                <ul>
                    <li class="cat-item cat-item-1">
                        <a href="">web前端</a>
                        <a href="">php</a>
                    </li>
                </ul>
            </aside>
            <aside  class="widget widget_categories"><h2 class="widget-title">标签</h2>
                <div class="colored-line-left"></div>
                <div class="clearfix widget-title-margin"></div>
                <ul>
                    <li class="cat-item cat-item-1">
                        <a href="">composer</a>
                        <a href="">centos</a>
                    </li>
                </ul>
            </aside>
        </div><!-- #sidebar-secondary -->

    </div>

<ul class="pagination">
  <li><a href={{ sp }} name="上一页">«</a></li>
  <li><a id="1" class="" href="/blog/python/page/?num=1">1</a></li>
  <li><a id="2" class="" href="/blog/python/page/?num=2">2</a></li>
  <li><a id="3" class="" href="/blog/python/page/?num=3">3</a></li>
  <li><a id="4" class="" href="/blog/python/page/?num=4">4</a></li>
  <li><a id="5" class="" href="/blog/python/page/?num=5">5</a></li>
  <li><a id="6" class="" href="/blog/python/page/?num=6">6</a></li>
  <li><a href={{ xp }} name="下一页">»</a></li>
</ul>
<footer>
 <div class="footer-mid">
    <section class="visitors">
      <h2>最近访客</h2>
      <ul>
       <li><a href="/"><img src="/static/images/01.jpg"></a></li>
       <li><a href="/"><img src="/static/images/02.jpg"></a></li>
       <li><a href="/"><img src="/static/images/03.jpg"></a></li>
       <li><a href="/"><img src="/static/images/04.jpg"></a></li>
       <li><a href="/"><img src="/static/images/02.jpg"></a></li>
       <li><a href="/"><img src="/static/images/03.jpg"></a></li>
       <li><a href="/"><img src="/static/images/04.jpg"></a></li>
       <li><a href="/"><img src="/static/images/03.jpg"></a></li>
       <li><a href="/"><img src="/static/images/04.jpg"></a></li>
      </ul>
    </section>
      <section class="links">
      <h2>合作伙伴</h2>
      <ul>
       <li><a href="/">黄松辉个人博客网站</a></li>
       <li><a href="/">百度</a></li>
       <li><a href="/">Google</a></li>
       <li><a href="/">Sina</a></li>
       <li><a href="/">3dst 技术服务中心</a></li>
       <li><a href="/">3dst web</a></li>
      </ul>
    </section>
     <section class="links">
      <h2>友情链接</h2>
      <ul>
       <li><a href="/">黄松辉个人博客网站</a></li>
       <li><a href="/">百度</a></li>
       <li><a href="/">3dst 技术服务中心</a></li>
       <li><a href="/">3dst web</a></li>
      </ul>
    </section>
    <section class="contact">
      <h2>留言</h2>
      <form id="footer-form" method="post" action="">
        <input type="text" onfocus="if(this.value=='Name')this.value='';" onblur="if(this.value=='')this.value='Name';" value="Name" name="field1footer" class="footer-input" >
         <input type="text" onfocus="if(this.value=='Email')this.value='';" onblur="if(this.value=='')this.value='Email';" value="Email" class="footer-input">
         <textarea class="footer-textarea" name="field3footer" id="field3footer"></textarea>
         <input type="submit" id="submit" value="Send" name="submit">
          </form>
    </section>
 </div>
<div id="footer-bottom"><ul><p>Copyright 2011 - 2014 design by <a href="/">dancesmile</a></p></ul></div>
</footer>
<script type="text/javascript">
    var m = {{ num }};
    document.getElementById(m).className='active'
</script>
{% endblock %}
</body>
</html>
