<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>踏雪寻梅-博客</title>
<meta name="Keywords" content="" >
<meta name="Description" content="" >
<link href="/static/css/styles.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/main.js"></script>
</head>
<body>
<header>
<a href="/blog/index/" id="logo"><img src="" alt=""/><h1>踏雪寻梅</h1></a>
 <div id="wrap-menu">                    
   <ul id="header-menu">
     <li ><a href="/blog/index/">网站首页</a></li>
     <li><a href="/">个人档案</a>
        <ul class="second-lvl">
           <li><a href="/">关于我</a></li>
           <li><a href="/">我的相册</a></li>
           <li><a href="/">我的作品</a></li>                      
         </ul>   
      </li>
      <li><a href="http://www.cnblogs.com/Huangsh2017Come-on/" target="_blank">个人博客</a></li>
      <li><a href="/">技术探讨</a>
         <ul class="second-lvl">
           <li><a href="/blog/python/page/?num=1">python</a></li>
           <li><a href="/blog/django/page/?num=1">django</a></li>
             <li><a href="/blog/django/">java</a></li>
           <li><a href="/">javascripts</a>
               <ul class="third-lvl">
                  <li><a href="/">js的闭包实现</a></li>
                  <li><a href="/">js面向对象</a></li>
                </ul>       
            </li>
           </ul>                             
        </li>
      <li><a href="/">机器学习</a>
         <ul class="second-lvl">
           <li><a href="/blog/python/">中文分词</a></li>
           <li><a href="/blog/django/">贝叶斯分类器</a></li>
           <li><a href="/">聚类</a>
               <ul class="third-lvl">
                  <li><a href="/">js的闭包实现</a></li>
                  <li><a href="/">js面向对象</a></li>
                </ul>
            </li>
           </ul>
        </li>

        <li><a href="/blog/liuyan/" target="_blank">给我留言</a></li>

    </ul>
</div>            
</header>
<div id="container">
   <div class="banner">
     <img src="/static/images/banner1.jpg">
   </div>
</div>
<div class="motto">
 <p>在陌生城市打拼的你，过着怎样的生活？　　文/书的超　　你有没有在异乡生活的经历？一个人在街角的咖啡店驻足，一个人在跨年夜去看烟火，一个人拿着大包小包回到漆黑的房子，也一个人轻声对自己说晚安。　　我的朋友栗子在离家八百公里的一座城市上班，工作日衣着得体、光鲜亮丽，周末犒劳自己的方式却是一顿路边的煎</p>
  <ul class="inbar">
    <li><img src="/static/images/01.jpg"></li>
    <li><img src="/static/images/02.jpg"></li>
    <li><img src="/static/images/03.jpg"></li>
  </ul>
</div>
<div id="container2">
 <ul class="template">
    <section>
     <h2>Powerfull</h2>
     <img src="/static/images/01.jpg">
     <p>
有时候不是我不理你，其实我也想你了，只是我不知道该对你说什么。不管过去如何，过去的已经过去，最好的总在未来等着你。当我们懂得珍惜平凡的幸福的时候，就已经成了人生的赢家。Nothing is as sweet as you 再没什么，能甜蜜如你。我以为只要很认真的喜欢就能打动一个人，到后来，却只打动了我自己。
     </p>
     <h4><a href="/"><b>阅读</b><span>更多>></span></a></h4>
    </section>
     <section>
     <h2>Powerfull</h2>
     <img src="/static/images/02.jpg">
     <p>
        在陌生城市打拼的你，过着怎样的生活？　　文/书的超　　你有没有在异乡生活的经历？一个人在街角的咖啡店驻足，一个人在跨年夜去看烟火，一个人拿着大包小包回到漆黑的房子，也一个人轻声对自己说晚安。　　我的朋友栗子在离家八百公里的一座城市上班，工作日衣着得体、光鲜亮丽，周末犒劳自己的方式却是一顿路边的煎
     </p>
     <h4><a href="/"><b>阅读</b><span>更多>></span></a></h4>
    </section>
        <section>
     <h2>Powerfull</h2>
     <img src="/static/images/03.jpg">
     幸福来敲门的时候，请你弯下腰　　文/喇嘛哥　　1　　有没有发现，幸福有时候很简单，就是由无数个小巧合和小惊喜兑现成一个现成的大幸福；幸福有时候又很琐碎，就是由无数个小满足和小确幸组合成一个蓬勃的大意外。而这些一点一滴的小确幸，每天都在上演，有的人留在了心间，有的人却让它从眼前白白溜走。
     </p>
    <h4><a href="/"><b>阅读</b><span>更多>></span></a></h4>
    </section>
 </ul>
</div>
<div class="idea">
 <p>
当我们懂得珍惜平凡的幸福的时候，就已经成了人生的赢家。Nothing is as sweet as you 再没什么，能甜蜜如你。我以为只要很认真的喜欢就能打动一个人，到后来，却只打动了我自己。
 </p>
</div>
<footer>
 <div class="footer-mid">
    <section class="visitors">
      <h2>最近访客</h2>
      <ul>
       <li><a href="/"><img src="/static/images/01.jpg"></a></li>
       <li><a href="/"><img src="/static/images/02.jpg"></a></li>
       <li><a href="/"><img src="/static/images/03.jpg"></a></li>
       <li><a href="/"><img src="/static/images/04.jpg"></a></li>
       <li><a href="/"><img src="/static/images/02.jpg"></a></li>
       <li><a href="/"><img src="/static/images/03.jpg"></a></li>
       <li><a href="/"><img src="/static/images/04.jpg"></a></li>
       <li><a href="/"><img src="/static/images/03.jpg"></a></li>
       <li><a href="/"><img src="/static/images/04.jpg"></a></li>
      </ul>
    </section>
      <section class="links">
      <h2>合作伙伴</h2>
      <ul>
       <li><a href="/">黄松辉个人博客网站</a></li>
       <li><a href="/">百度</a></li>
       <li><a href="/">Google</a></li>
       <li><a href="/">Sina</a></li>
       <li><a href="/">3dst 技术服务中心</a></li>
       <li><a href="/">3dst web</a></li>
      </ul>
    </section>
     <section class="links">
      <h2>友情链接</h2>
      <ul>
       <li><a href="/">黄松辉个人博客网站</a></li>
       <li><a href="/">百度</a></li>
       <li><a href="/">3dst 技术服务中心</a></li>
       <li><a href="/">3dst web</a></li>
      </ul>
    </section>
    <section class="contact">
      <h2>留言</h2>
      <form id="footer-form" method="post" action="">
        <input type="text" onfocus="if(this.value=='Name')this.value='';" onblur="if(this.value=='')this.value='Name';" value="Name" name="field1footer" class="footer-input" >
         <input type="text" onfocus="if(this.value=='Email')this.value='';" onblur="if(this.value=='')this.value='Email';" value="Email" class="footer-input">
         <textarea class="footer-textarea" name="field3footer" id="field3footer"></textarea>
         <input type="submit" id="submit" value="Send" name="submit">                
          </form>
    </section>
 </div>
<div id="footer-bottom"><ul><p>Copyright 2011 - 2014 design by <a href="/">dancesmile</a></p></ul></div>
</footer>
</body>
</html>