<!DOCTYPE HTML>
<html>
<head>
<title>Stylish Contact Form Flat Responsive Widget Template | Home :: 小贝壳网站模板</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Stylish Contact Form Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!--web-fonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'></head>
<link href='http://fonts.googleapis.com/css?family=Candal' rel='stylesheet' type='text/css'>
<!--web-fonts-->
<body>
		<!---header--->
		<div class="header">
			<h1>Stylish Contact Form</h1>
		</div>
		<!---header--->
		<!---main--->
			<div class="main-content">
				<div class="contact-w3">

					<form action="#" method="post">
						<label>名字</label>
						<input type="text" name="Name" placeholder="Your name" required>
						<div class="row">
							<div class="contact-left-w3">
								<label>邮箱</label>
									<input type="text" name="Email" placeholder="Email address" required>
							</div>
							<div class="contact-right-w3l">
								<label>电话</label>
								<input type="text" name="Phone" placeholder="Phone number" required>
							</div>
							<div class="clear"></div>
						</div>
						<label>项目</label>
							<input type="text" name="Subject" placeholder="Subject" required>
						<div class="row1">
							<label>留言内容</label>
							<textarea placeholder="Message" name="Message"></textarea>
						</div>
						<input type="submit" value="提交留言">
					</form>
				</div>
			</div>
		<div class="footer-w3-agile">
			<p>&copy 2016 Stylish Contact Form . All rights reserved | Design by <a href="http://www.smallseashell.com">.小贝壳网站模板.</a></p>
		</div>

		<!---main--->
</body>
</html>