<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script  type="text/javascript" src="../static/js/jquery-3.3.1.min.js" ></script>
    <script>
          var name="huangsonghui";
        //闭包实现
        var last=function(hr) {
        	var name= "peipei";
        	function kr() {
                return name+hr;
			}
			return kr;
		};
		var hj = last();
        console.log(hj('baici'));
        //创建shuzu对象
        var shuzu=function () {
            this.price= 8000;
		};
		p = new shuzu();
        console.log(p.price);
        //js调用接口


        window.onclick=function (theUrl) {
        	var url = "https://jingyan.baidu.com/article/95c9d20d7bc617ec4f756150.html";
            var request = new XMLHttpRequest();
            request.onclick = function () {
                if(request.status==200){
                	disconent(request.responseText)
                }
			};
            request.open( "GET",url, false );
            request.send( null );

};
        function disconent(content) {
            var p = document.getElementById("content");
            p.innerHTML=content;
		}
		var url = 'http://javascript.ruanyifeng.com/oop/basic.html#toc1';
		var ji = $.ajax({
            type:'GET',
            url:url,

        });
        var htmlStr = ji.responseText;
        console.debug(hj)
    </script>
</head>
<body>
    <div id="content">

    </div>
</body>
</html>