<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>踏雪寻梅-博客</title>
<meta name="Keywords" content="" >
<meta name="Description" content="" >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Javascript常用的技巧 - 梦影雾花 - 个人博客 - 云在青天水在瓶</title>
    <meta name="author" content="梦影雾花">
    <meta name="keywords" content="javascript常用的技巧,javascript," />
    <meta name="description" content="Javascript常用的技巧" />



    <link href="http://www.mywhblog.cn/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
<link href="http://www.mywhblog.cn/fonts/css/font-awesome.min.css" rel="stylesheet"/>
<link href="http://www.mywhblog.cn/Content/css/offcanvas.min.css" rel="stylesheet"/>
<link href="http://www.mywhblog.cn/Content/css/style.css" rel="stylesheet"/>
<link href="http://www.mywhblog.cn/Content/css/index.css" rel="stylesheet"/>

    <style type="text/css">
        * {
            cursor: url(/assets/xj6/normal.cur),default;
        }

        a {
            cursor: url(/assets/xj6/link.cur),default !important;
        }
    </style>



<link href="/static/css/styles.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/main.js"></script>
</head>
<body>
<header>
<a href="/blog/index/" id="logo"><img src="/static/images/logo.png" alt=""/><h1>雪寻梅</h1></a>
 <div id="wrap-menu">
   <ul id="header-menu">
     <li ><a href="/blog/index/">网站首页</a></li>
     <li><a href="/">个人档案</a>
        <ul class="second-lvl">
           <li><a href="/">关于我</a></li>
           <li><a href="/">我的相册</a></li>
           <li><a href="/">我的作品</a></li>
         </ul>
      </li>
      <li><a href="http://www.cnblogs.com/Huangsh2017Come-on/" target="_blank">个人博客</a></li>
      <li><a href="/">技术探讨</a>
         <ul class="second-lvl">
           <li><a href="/blog/python/page/?num=1">python</a></li>
           <li><a href="/blog/django/page/?num=1">django</a></li>
             <li><a href="/blog/django/">java</a></li>
           <li><a href="/">javascripts</a>
               <ul class="third-lvl">
                  <li><a href="/">js的闭包实现</a></li>
                  <li><a href="/">js面向对象</a></li>
                </ul>
            </li>
           </ul>
        </li>
      <li><a href="/">机器学习</a>
         <ul class="second-lvl">
           <li><a href="/blog/python/">中文分词</a></li>
           <li><a href="/blog/django/">贝叶斯分类器</a></li>
           <li><a href="/">聚类</a>
               <ul class="third-lvl">
                  <li><a href="/">js的闭包实现</a></li>
                  <li><a href="/">js面向对象</a></li>
                </ul>
            </li>
           </ul>
        </li>

        <li><a href="/blog/liuyan/" target="_blank">爬虫世界</a></li>

    </ul>
</div>
</header>
<div id="container">
   <div class="banner">
     <img src="/static/images/banner1.jpg">
   </div>
</div>




<div class="post-single">
    <div class="page-position">
        <i class="fa fa-home"></i>&nbsp;
        <span class="hidden-xs">当前位置：</span>
        <a href="http://www.mywhblog.cn" title="梦影雾花">首页</a> &raquo;
        <a href="#"title="Javascript常用的技巧" rel="category tag">Javascript常用的技巧</a>
        <span class="hidden-xs">&raquo; 正文</span>
    </div>
    <h1 class="single-title">
        <a href="javascript:void(0);" title="Javascript常用的技巧" rel="bookmark">
            Javascript常用的技巧
        </a>
    </h1>
    <div class="single-time">
        <i class="fa fa-clock-o"></i>2017/6/15 14:57:13<em></em>
        <i class="fa fa-eye"></i>34<em></em>
        <i class="fa fa-user"></i>梦影雾花<em></em>
    </div>
    <div id="divContent" class="article-content">
        <p>1.使用+将字符串转换成数字</p><p>这个技巧非常有用，不过这个字符串里面必须是数字，否则将返回NaN。</p><pre class="brush:js;toolbar:false">function&nbsp;toNumber(strNumber)&nbsp;{&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;return&nbsp;+strNumber;&nbsp;&nbsp;
}&nbsp;&nbsp;
console.log(toNumber(&quot;123&quot;));&nbsp;&nbsp;&nbsp;&nbsp;//输出&nbsp;&quot;123&quot;&nbsp;&nbsp;
console.log(toNumber(+&quot;123&quot;));&nbsp;&nbsp;&nbsp;//输出&nbsp;123&nbsp;&nbsp;
console.log(toNumber(+&quot;a&quot;));&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;//输出&nbsp;NaN</pre><p>这个也适用于Date,它将返回时间戳数字。</p><pre class="brush:js;toolbar:false">console.log(+new&nbsp;Date());&nbsp;&nbsp;&nbsp;&nbsp;//输出&nbsp;1462775218918</pre><p>2.在循环中缓存array.length</p><p>循环一个数组，大家一般都会这样写。</p><pre class="brush:js;toolbar:false">for(var&nbsp;i&nbsp;=&nbsp;0;&nbsp;i&nbsp;&lt;&nbsp;array.length;&nbsp;i++)&nbsp;{&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;console.log(array[i]);&nbsp;&nbsp;
}</pre><p>但是这样做数组在每次迭代的时候，都会重新计算数组的大小，这将会导致一些延误。为了避免这种现象出现，一般会把array.length做一个缓存，也就是放到一个变量里面。</p><pre class="brush:js;toolbar:false">var&nbsp;length&nbsp;=&nbsp;array.length;&nbsp;&nbsp;
for(var&nbsp;i&nbsp;=&nbsp;0;&nbsp;i&nbsp;&lt;&nbsp;length;&nbsp;i++)&nbsp;{&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;console.log(array[i]);&nbsp;&nbsp;
}</pre><p>也可以这样写。</p><pre class="brush:js;toolbar:false">for(var&nbsp;i&nbsp;=&nbsp;0,&nbsp;length&nbsp;=&nbsp;array.length;&nbsp;i&nbsp;&lt;&nbsp;length;&nbsp;i++)&nbsp;{&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;console.log(array[i]);&nbsp;&nbsp;
}</pre><p><br/></p>
    </div>
    <div class="clearfix">
    </div>
    <!--点赞分享按钮-->
    <div id="cyReward2" role="cylabs" data-use="reward">
    </div>
    <div id="cyEmoji" role="cylabs" data-use="emoji"></div>
    <div class="single-share text-center">
        <ul class="list-unstyled list-inline">
            <li>
                <div id="cyReward" role="cylabs" data-use="reward">
                    <a class="btn shang" data-toggle="modal" data-target=".dashang">
                        <i class="fa fa-gift">
                        </i>&nbsp;&nbsp;打赏
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div class="modal fade baidushare" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        分享到
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="bdsharebuttonbox">
                        <a title="分享到新浪微博" class="bds_tsina" data-cmd="tsina"></a>
                        <a title="分享到腾讯微博" class="bds_tqq"data-cmd="tqq"></a>
                        <a title="分享到QQ空间" class="bds_qzone" data-cmd="qzone"></a>
                        <a title="分享到QQ好友" class="bds_sqq" data-cmd="sqq"></a>
                        <a title="分享到豆瓣" class="bds_douban" data-cmd="douban"></a>
                        <a title="分享到邮件分享" class="bds_mail" data-cmd="mail"></a>
                        <a title="分享到一键分享" class="bds_mshare" data-cmd="mshare"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade dashang" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="gridSystemModalLabel">
                        打赏
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-6">
                                <img src="picture/alipay.jpg" class="img-responsive" alt="支付宝打赏">
                            </div>
                            <div class="col-xs-6">
                                <img src="picture/weixin.jpg" class="img-responsive" alt="微信打赏">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--上下篇-->
    <div id="prevNext" class="prev-next">
                <p>上一篇: <a href="/study/javascript/list_1.html" title="sql 一个表向另一个表更新数据">sql 一个表向另一个表更新数据</a></p>
                <p>下一篇: <a href="/study/javascript/list_14.html" title="Application_Start里的代码不执行">Application_Start里的代码不执行</a></p>
    </div>
    <!--标签-->
    <div class="single-tags">
        <ul class="list-unstyled list-inline" id="tagGroup">
                <li><a href="#" title="javascript常用的技巧">javascript常用的技巧</a></li>
                <li><a href="#" title="javascript">javascript</a></li>
        </ul>
    </div>
    <!--引用规范-->
    <div class="single-copyright">
        <i class="fa fa-hand-o-right"></i>&nbsp;&nbsp;文章来源：梦影雾花个人博客
        <span class="hidden-xs">，欢迎分享，转载请保留出处</span><br>
        <i class="fa fa-quote-left"></i>&nbsp;&nbsp;
        <span class="hidden-xs">原文地址：</span>
        <a id="originalLink" href="" title=""></a>
    </div>
    <!--阅读延展-->
    <div class="mutuality">
        <div class="mutuality-title text-center">
            阅读延展
        </div>
        <div id="bdAd" class="row">

        </div>
    </div>
    <div class="comments">
        <div class="comments-title">
            <i class="fa fa-comments-o"></i><span>评论列表</span>
        </div>
        <div id="SOHUCS" sid="13"></div>
    </div>
    <script type="text/javascript">
        (function () {
            var appid = 'cysNShFuQ';
            var conf = 'prod_2a8b31dbf35e69bf446f39379263a5a6';
            var width = window.innerWidth || document.documentElement.clientWidth;
            if (width < 960) {
                window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>');
            } else { var loadJs = function (d, a) { var c = document.getElementsByTagName("head")[0] || document.head || document.documentElement; var b = document.createElement("script"); b.setAttribute("type", "text/javascript"); b.setAttribute("charset", "UTF-8"); b.setAttribute("src", d); if (typeof a === "function") { if (window.attachEvent) { b.onreadystatechange = function () { var e = b.readyState; if (e === "loaded" || e === "complete") { b.onreadystatechange = null; a() } } } else { b.onload = a } } c.appendChild(b) }; loadJs("https://changyan.sohu.com/upload/changyan.js", function () { window.changyan.api.config({ appid: appid, conf: conf }) }); }
        })();
    </script>
</div>


</div>
<!--right-->
<div class="col-xs-12 col-md-4 hidden-xs hidden-sm" id="sidebar">

    <dl class="function" id="divPromotion">
            <dt style="display: none;"></dt>
            <dd class="function_c">
                <script type="text/javascript">
                    /*首页图片上边*/
                    var cpro_id = "u3083537";
                </script>
                <script type="text/javascript" src="http://cpro.baidustatic.com/cpro/ui/c.js"></script>
            </dd>
        </dl>
    <dl class="function" id="divHottags">
        <dt class="function_t">热门话题</dt>
        <dd class="function_c">
            <ul id="hotTag">
                <li><a href="javascript:void(0);" title="jquery插件">jquery插件</a></li><li><a href="javascript:void(0);" title="微信小说分销系统">微信小说分销系统</a></li><li><a href="javascript:void(0);" title="幸亏没生在古代">幸亏没生在古代</a></li><li><a href="javascript:void(0);" title="曾昭玮">曾昭玮</a></li><li><a href="javascript:void(0);" title="失恋阵线联盟粤语版">失恋阵线联盟粤语版</a></li><li><a href="javascript:void(0);" title="九寨沟地震">九寨沟地震</a></li><li><a href="javascript:void(0);" title="新疆精河县地震">新疆精河县地震</a></li><li><a href="javascript:void(0);" title="战狼2">战狼2</a></li><li><a href="javascript:void(0);" title="mac双系统">mac双系统</a></li><li><a href="javascript:void(0);" title="marry you">marry you</a></li>

            </ul>
        </dd>
    </dl>
    <dl class="function" id="divHotpost">
        <dt class="function_t">热门文章</dt>
        <dd class="function_c">
            <div id="cyHotnews" role="cylabs" data-use="hotnews">
            </div>
        </dd>
    </dl>
    <dl class="function" id="divNewcomm">
        <dt class="function_t">最新评论</dt>
        <dd class="function_c">
            <div id="cyReping" role="cylabs" data-use="reping">
            </div>
        </dd>
    </dl>
    <dl class="function" id="divReaders">
        <dt class="function_t">给力访客</dt>
        <dd class="function_c">
            <div id="cyHotusers" role="cylabs" data-use="hotusers" style="width:auto;">
            </div>
        </dd>
    </dl>
</div>


        </div>
        <!--links-->
        <div class="links container">
            <div class="col-xs-12">
                <div class="links-pic text-center">
                    <ul class="list-unstyled list-inline text-left"></ul>
                </div>
                <div class="links-txt text-center">
                    <div class="links-title">
                        友情链接
                    </div>
                    <ul class="list-unstyled list-inline text-left">
                        <li><a href="http://www.jiangfei.net" title="疆飞" target="_blank">疆飞</a></li>
                        <li><a href="http://www.zbboke.com" title="张兵个人博客" target="_blank">张兵个人博客</a></li>
                        <li><a href="http://fgyong.cn/" title="兜兜转转" target="_blank">兜兜转转</a></li>
                        <li><a href="http://nzzrdt.com/" title="拿着灼热的铁" target="_blank">拿着灼热的铁</a></li>
                        <li><a href="http://www.yxxrui.cn" title="伊人博客" target="_blank">伊人博客</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--footer-->
    <footer id="footer">
        <div class="container">
            <div class="text-center">
                © 2017 梦影雾花 - 独立博客&nbsp;&nbsp;<a href="http://www.miitbeian.gov.cn" target="_blank">豫ICP备17002472号-1</a>&nbsp;&nbsp;
            </div>
        </div>
    </footer>
    <!--kefu-->
    <div id="kefu" class="kefu">
        <div class="qq hidden-xs">
            <a href="http://wpa.qq.com/msgrd?v=3&uin=870081885&site=http://www.mywhblog.cn&menu=yes" target="_blank" rel="nofollow">
                <i class="fa fa-qq fa-lg"></i>
            </a>
        </div>

        <div class="weibo">
            <i class="fa fa-weibo fa-lg"></i>
            <div class="kefu-tip">
                <div class="kefu-tip-arrow kefu-tip-arrow-left">
                    <em></em><ins></ins>
                </div>
                <div>
                    <img src="http://www.mywhblog.cn/Content/images/weibo.jpg" style="width:90px;height:90px;" alt="新浪微博">
                </div>
            </div>
        </div>
        <div class="weixin">
            <i class="fa fa-weixin fa-lg"></i>
            <div class="kefu-tip">
                <div class="kefu-tip-arrow kefu-tip-arrow-left">
                    <em></em><ins></ins>
                </div>
                <div>
                    <img src="http://www.mywhblog.cn/Content/images/weixin.jpg" style="width:90px;height:90px;" alt="微信">
                </div>
            </div>
        </div>
        <div class="phone hidden-xs">
            <i class="fa fa-phone fa-lg"></i>
            <div class="kefu-tip">
                <div class="kefu-tip-arrow kefu-tip-arrow-left">
                    <em></em><ins></ins>
                </div>
                <div class="phones">
                    <i class="fa fa-phone"></i>
                    你猜啊：<br />
                    <i class="fa fa-whatsapp"></i>
                    手机：1822134XXXX
                </div>
            </div>
        </div>
        <div class="top">
            <i class="fa fa-angle-up fa-2x"></i>
        </div>
    </div>
    <!--share-->
    <script src="http://www.mywhblog.cn/Scripts/bdshare.js" type="text/javascript"></script>

    <script src="/Scripts/jquery.min.js"></script>
<script src="http://www.mywhblog.cn/Scripts/custom.js"></script>
<script src="http://www.mywhblog.cn/Scripts/offcanvas.min.js"></script>



    <script src="http://www.mywhblog.cn/Scripts/device.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".article-content img").css("display", "inline-block");
            var originalLink = "http://www.mywhblog.cn/study/javascript/13" + ".html";
            $("#originalLink").attr("href", originalLink);
            $("#originalLink").html(originalLink);
            //$("#originalLink").attr("href", window.location.href);
            //$("#originalLink").html(window.location.href);
            clickArticle(13, "study/javascript");

            var isMobile = device.mobile(),
                isTable = device.tablet();

            if (isMobile || isTable) {
                $("#bdAd").append('<script type="text/javascript">/*6:5 创建于 2017/9/28*/var cpro_id = "u3106185";<\/script><script type="text/javascript" src="http://cpro.baidustatic.com/cpro/ui/cm.js"><\/script>');
            }
            else {
                $("#bdAd").append('<script type="text\/javascript">/*760*90 创建于 2017/9/28*/var cpro_id = "u3106183";<\/script><script type="text\/javascript" src="http://cpro.baidustatic.com/cpro/ui/c.js"><\/script>');
            }
        });
        //访问文章
        function clickArticle(articleId, menuKey) {
            $.ajax({
                type: "post",
                url: "/ajax/Article.ashx",
                data: { action: 'clickArticle', articleId: articleId },
                async: true,
                success: function (data) {
                    var my = eval("(" + data + ")");
                }
            });
        }
    </script>



    <script type="text/javascript" charset="utf-8" src="https://changyan.itc.cn/js/lib/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://changyan.sohu.com/js/changyan.labs.https.js?appid=cysNShFuQ"></script>


    <script type="text/javascript">
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?d0852f40ec5f7055f15a9e0f84a2990d";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
    </script>

    <script type="text/javascript">
    (function () {
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
    </script>


</body>
</html>
